.block {
    height: .1vw;
    width: .1vw;
    transition: opacity 2s ease-in-out 1s;
}

.wallBlock {
    background-color: gray;
}

.windowBlock {
    background-color: lightblue;
    border: solid .1vw;
}

.top {
    border-top: solid .1vw
}

.bottom {
    border-bottom: solid .1vw
}

.left {
    border-left: solid .1vw
}

.right {
    border-right: solid .1vw
}

table {
    border-collapse: collapse;
    /*table-layout: fixed;*/
    display: inline-block;
}

.houseRow {
    display: inline-block;
}

.houseRow > table {

    margin: 0;
}

.highRise > .houseRow {
    display: block;
}

.highRise {
    background-color: silver;
    border: solid .1vw;
    display: inline-block;
    border-collapse: collapse;
}




